 .trigger {
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s;
    color: #d5dceb;
    background-color: #1a1d1d;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50px;
  }


  .ant-layout-sider{
    background-color: black;
  }
  
  .trigger:hover {
    color: white;
  }
 

  
  /* .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  } */
  .menu-bar{
    background-color: black;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-right: none;
  }
  .ant-layout-header{
    background: black;
    height: 60px;
    border-bottom: 1px solid white;
    
  }
  .site-layout .site-header-layout-background {
    background-color: black;
   
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: black;
  }
  .ant-layout-sider-children{
    height: 100vh;
  }
  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after{
    color: white;
  }
.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow {
    color: #b1bad3;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: white;
}
.ant-menu-sub.ant-menu-inline{
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 700;
}
.ant-divider-horizontal{
  border: 0.1px solid #2f4553;
  margin: 5px 20px 20px 20px;
  width: initial;
  min-width: initial;
}
/* .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  background-color: transparent;
  border: none;
  color: #fff;
} */
.button-section button {
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.siderbar-header .button-section button:hover {
  color: white;
}
.siderbar-header {
  height: 59px;
  border-bottom: 1px solid white;
  box-shadow: #0f212e;
  height: 59px;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}
.ant-menu-item-selected {
  color: white;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-radius: 50px;
  background-color: black;
}
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  border-radius: 50px;
  background-color: black;
}
.ant-menu-submenu-popup > .ant-menu {
  background-color: black;
  color: white;
}
.select {
  color: black;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
}
.animation {
  position: relative;
  right: 0;
  transition: 0.3s;
}
.animation:hover {
  right: -5px;
  cursor: pointer;
}
.ant-menu-submenu-selected {
  color: white;
}





